{% load staticfiles %}
<html>
        <head>
            <title>Django Girls blog</title>
			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
			<link rel="stylesheet" href="{% static 'css/blog.css' %}">
		</head>
        <body>
            <div>
                <h1><a href="">Django Girls Blog</a></h1>
            </div>
			{% for posts in posts %}
                <div>
					<p>published: {{ posts.published_date }}</p>
					<h1><a href="">{{ posts.title }}</a></h1>
					<p>{{ posts.text|linebreaksbr }}</p>
				</div>
			{% endfor %}	
        </body>
    </html>